{% extends 'base.html' %}

{% block content %}
{% if not expenses %}
    There are no expenses yet
{% else %}
<h1>Expenses for all categories are {{amount}} rubles</h1><br>
    <div id="post">
        {% for expense in expenses %}
            <div>
            <h3>{{ expense }} in {{ expense.category }}</h3>
            <p>You spent {{ expense.expense }} rubles to bye {{ expense }}</p>
            <p>{{ expense.date|date:"d.m.Y." }}</p><br>
            </div>
        {% endfor %}
    <div id="pages" align="center">

            {% if expenses.has_previous %}
            <a href="?page={{ expenses.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
            Page {{ expenses.number }} of {{ expenses.paginator.num_pages }}.
            </span>

            {% if expenses.has_next %}
                <a href="?page={{ expenses.next_page_number }}">Next</a>
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock %}
